<!--<img alt="logo" src="assets/img/logo.png">-->
<span class="current-page">{{currentPage$ | async}}</span>

<div class="wrapper">
  <nav [class.expanded]="openedMenu">
    <ul>
      <li [routerLink]="'/homepage'">Úvod</li>
      <li [routerLink]="'/o-mne'">O mně</li>
      <li [routerLink]="'/portfolio'">Portoflio</li>
      <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/MashiiroPhotography/">Kontakt</a></li>
    </ul>
  </nav>
  <div class="icon-wrapper">
    <i class="fa fa-instagram"></i>
    <i class="fa fa-facebook"></i>
    <i [ngClass]="openedMenu ? 'ti-close' : 'ti-menu'" class="menu-icon ti" aria-hidden="true" (click)="toggleMenu()"></i>
  </div>
</div>
