:host {
  width: calc(100vw - 90px);
  height: 36px;
  position: fixed;
  z-index: 99999;
  padding: 35px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.current-page {
  color: #ffffff;
  font-size: 36px;
  font-weight: 100 !important;
  margin: 0;
  line-height: 1.5;
  cursor: default;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

nav {
  transition: all 0.4s ease 0s;
  transform-origin: 100% 50%;
  height: 100%;
  transform: scale(0);

  &.expanded {
    transform: scale(1);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    li {
      color: white;
      font-size: 18px;
      position: relative;
      z-index: 1;
      font-weight: 300;
      padding: 0 15px 5px 15px;
      cursor: pointer;

      &::after {
        content: "";
        border-bottom: 0.5px solid white;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        left: 50%;
        transform: translateX(-50%);
        transition-duration: 500ms;
        top: 24px;
        z-index: 5;
      }

      &:focus {
        outline: none;
      }

      &:hover::after, &:focus::after {
        width: 70px;
        background-color: rgba(255, 255, 255, 1);
      }

    }
  }
}


.icon-wrapper {
  i {
    padding: 0 8px;
    color: white;
    cursor: pointer;
  }

  i.menu-icon {
    font-size: 20px;
    padding: 0;
    transition: all 750ms ease 0ms;
    margin-left: 15px;
    font-weight: 100;
    display: inline-block;

    &:hover:not(.ti-menu) {
      transition: all 750ms ease 0ms;
      transform: rotate(180deg);
    }
  }
}

.fa-facebook , .fa-instagram {
  font-size: 18px;
}
