<p *ngIf="categories.length === 0; else categoriesBlock">Neexistují žádné kategorie</p>

<ng-template #categoriesBlock>
  <div *ngFor="let category of categories">
    <span class="category" (click)="editCategoryHandler(category)">{{category.name}}</span>
    <ms-delete-entity (click)="deleteCategoryHandler(category)"></ms-delete-entity>
  </div>
</ng-template>
