<div *ngIf="pictures">
  <p *ngIf="pictures.length > 0">Nahrané obrázky</p>
  <article class="images">
    <img
      *ngFor="let picture of pictures"
      src="assets/uploadedImages/{{picture.path}}400.jpg"
      (click)="emitSelectedPicture(picture)"
    >
  </article>

  <p *ngIf="pictures.length === 0">Nejsou zde nahrané žádné obrázky</p>
</div>
