<ms-category-display
  [categories]="categories$ | async"
  (deleteCategory)="deleteCategory($event)"
  (editCategory)="editCategory($event)"
>
</ms-category-display>


<h3>{{formDescription}}</h3>
<form [formGroup]="form" (ngSubmit)="create()" enctype="multipart/form-data">
  <input class="form-field" type="text" formControlName="name" placeholder="Název kategorie">
  <span class="form-error" *ngIf="form.controls.name.invalid">Maximální délka názvu kategorie je 50 znaků a název kategorie nesmí být prázdný</span>

  <br>

  <input class="form-field" type="file" (change)="onFileChange($event)" formControlName="picture">
  <span class="form-error" *ngIf="form.controls.picture.invalid">Musíš nahrát obrázek, který se zobrazí na stránce portfolio, když vybereš příslušnou kategorii</span>


  <input class="form-submit" type="submit" value="Odeslat" [disabled]="form.invalid">
</form>
