<h1>Slider Editor</h1>
<ms-admin-photos-display
  [pictures]="pictures$ | async"
  (selectedPicture)="selectPicture($event)"
></ms-admin-photos-display>

<ms-slider-editor-edit-photo
  [picture]="selectedPicture"
></ms-slider-editor-edit-photo>

<p>Nahrát nový obrázek</p>
<ms-slider-editor-new-photo></ms-slider-editor-new-photo>
