<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="input-field-wrapper">
    <label>Uživatelské jméno
      <input type="text" formControlName="username" required>
    </label>

    <label>Heslo
      <input type="password" formControlName="password" required>
    </label>

    <input type="submit" value="Přihlásit" [disabled]="form.invalid">
  </div>
</form>
