<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="loaded">
  <input formControlName="title">
  <textarea formControlName="description"></textarea>
  <select formControlName="category">
    <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
  </select>
  <!-- todo: add input type file -->
  <input type="submit">
</form>
