<div class="hero-area d-flex">
  <ms-lazy-image *ngIf="picture" [src]="picture.path" [alt]="'obrázek'" class="hero-thumbnail bg-img newImage"></ms-lazy-image>

  <div class="hero-content equalize">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 col-md-10">
          <div class="line"></div>
          <h2 *ngIf="title" [innerHTML]="title.text"></h2>
          <p *ngIf="description" [innerHTML]="description.text"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<button *ngFor="let filter of categories"
        [disabled]="filter.id === selectedCategoryId"
        (click)="selectedCategory(filter.id)">
  {{filter.name}}
</button>
