<a class="admin-link" routerLink="/admin/homepage/slider">Slider na Homepage</a>
<a class="admin-link" routerLink="/admin/category">Kategorie</a>
<a class="admin-link" routerLink="/admin/photos">Fotky v kategoriích</a>
