<owl-carousel-o [options]="options">
  <ng-template carouselSlide *ngFor="let picture of pictures">
    <ms-lazy-image class="carousel-photo"
                   [src]="picture.path">
    </ms-lazy-image>
  </ng-template>
</owl-carousel-o>
