::ng-deep {
  .owl-carousel {
    height: 89vh;

    .owl-stage {
      transition-duration: 250ms !important;
    }

    .owl-item img {
      height: 89vh;
      object-fit: cover;
    }

    .owl-nav {
      position: absolute;
      width: 100%;
      top: calc(50% - 42px);

      .owl-prev, .owl-next {
        color: transparent;
        padding: 0;
        margin: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 38px;
        font-size: 0;
        position: absolute;
      }
      .owl-prev {
        left: 15px;
        background-image: url("../../../../../assets/img/left.png");
      }
      .owl-next {
        right: 15px;
        background-image: url("../../../../../assets/img/right.png");
      }
    }

    .owl-dots {
      display: none;
      position: absolute;
      width: 100%;
      bottom: 10px;
    }
  }
}

button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  &:focus {
    outline: none;
  }

  &.prev {
    padding-left: 10px;
  }

  &.next {
    padding-right: 10px;
    right: 13px;
  }

  > img {
    width: 14px;
    height: 23px;
  }
}
