/* You can add global styles to this file, and also import other style files */

body {
  background-color: #E3E5E5;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a:visited, a:-webkit-any-link {
  color: inherit;
  text-decoration-line: none !important;
}

// todo: move admin specific stuff to admin only shared stylesheet
.admin-link {
  display: block;
}
